@using PackageTracker.Messages.Queries;
@model IEnumerable<GetAllPackagesQueryResponse.PackageDto>
@{
    ViewData["Title"] = "Home";
}

<table class="table table-bordered table-hover align-content-center text-center">
    <thead>
        <tr class="bg-info">
            <th><i class="fa-solid fa-folder-open"></i> Type</th>
            <th><i class="fa-solid fa-tag"></i> Name</th>
            <th><i class="fa-solid fa-code-pull-request"></i> Latest Release Version</th>
            <th><i class="fa-solid fa-code-branch"></i> Latest Version</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var package in Model)
        {
            <tr>
                <td>
                    <img src="~/assets/@(package.Type.ToLower()).png" alt="@(package.Type)" width="32"> <a target="_blank" href="@package.Link">@(package.Type)</a>
                </td>
                <td class="align-content-start text-start">
                    <a asp-action="Details" asp-controller="Package" asp-route-id="@(package.Name)">@(package.Name)</a>
                </td>

                @if (package.LatestReleaseVersion == package.LatestVersion)
                {
                    <td colspan="2">
                        <strong>@(package.LatestVersion)</strong>
                    </td>
                }
                else
                {
                    <td>
                        <strong>@(package.LatestReleaseVersion)</strong>
                    </td>
                    <td>
                        <i>@(package.LatestVersion)</i>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>